@font-face {
  font-family: 'HelveticaNeue';
  src: url('../assets/fonts/HelveticaNeue.ttf');
}

@font-face {
  font-family: 'helveticaBold';
  src: url('../assets/fonts/HelveticaNeuBold.woff');
}

@font-face {
  font-family: 'helveticaMedium';
  src: url('../assets/fonts/HelveticaNeuMedium.woff');
}

@font-face {
  font-family: 'helveticaLight';
  src: url('../assets/fonts/HelveticaNeuLight.woff');
}
@font-face {
  font-family: 'helveticaMedium';
  src: url('../assets/fonts/helveticaneue-medium.ttf');
}
@font-face {
  font-family: 'latoBold';
  src: url('../assets/fonts/Lato-Bold.ttf');
}

@font-face {
  font-family: 'latoHeavy';
  src: url('../assets/fonts/Lato-Heavy.ttf');
}

@font-face {
  font-family: 'latoLight';
  src: url('../assets/fonts/Lato-Light.ttf');
}
@font-face {
  font-family: 'latoRegular';
  src: url('../assets/fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: 'latoSemiBold';
  src: url('../assets/fonts/Lato-Semibold.ttf');
}

@font-face {
  font-family: 'latoThin';
  src: url('../assets/fonts/Lato-Thin.ttf');
}
@font-face {
  font-family: 'latoMedium';
  src: url('../assets/fonts/Lato-Medium.ttf');
}