//  Font Weight
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;
$extra-bold: 800;

// Colors
$text-grey: #787e8c;
$color-white: #fff;
$color-primary: #4880ff;
$color-danger: #ff5660;
$color-grayshade: #e5e9ed;
$color-black-grey: #444444;
$color-black-light-grey: #4a494a;
$color-black: #000;
$color-light-sea-green: #24ccb8;
$color-light-blue: #d4e5f9;

// Font Family
$lato-heavy: 'latoHeavy';
$lato-light: 'latoLight';
$lato-bold: 'latoBold';
$lato-semibold: 'latoSemiBold';
$lato-regular: 'latoRegular';
$lato-medium: 'latoMedium';
$hn-bold: 'helveticaBold';
$hn-medium: 'helveticaMedium';
$hn-light: 'helveticaLight';

// Color system
$Cobalt: #0047af;
$MineShaft: #242424;
$RedOrang: #f93a3a;
$CaribbeanGreen: #07c3ac;
$ScienceBlue: #005be0;
$KashmirBlue: #486c98;
$Concrete: #f3f3f3;
$AthensGray: #e5e9ed;
$White: #ffffff;
$Black: #000000;
$Ghost: #bdc2cf;
$BrightGray: #3d4455;
$Iron: #ccd1d6;

//Font sizes
$F-12: 12px;
$F-13: 13px;
$F-14: 14px;
$F-15: 15px;
$F-16: 16px;
$F-17: 17px;
$F-18: 18px;
$F-19: 19px;
$F-20: 20px;
$F-21: 21px;
$F-22: 22px;
$F-23: 23px;
$F-24: 24px;
$F-25: 25px;
$F-26: 26px;
