<div>
  <div class="row mx-0">
    <div class="col-md-2 d-none d-md-block">
      <div class="py-2 cursor-pointer">
        <h6 (click)='navigate(hellojustin)'>Hello, Justin !</h6>
      </div>
      <div class="py-2 cursor-pointer" (click)='navigate(comments)'>
        <h6>Comments</h6>
      </div>
      <div class="py-2 cursor-pointer" (click)='navigate(variable)'>
        <h6>Variables</h6>
      </div>
      <div class="py-2 cursor-pointer" (click)='navigate(datatype)'>
        <h6>DataTypes</h6>
      </div>
      <div class="py-2 cursor-pointer" (click)='navigate(basicoperator)'>
        <h6>Basic operators, maths</h6>
      </div>
      <div class="py-2 cursor-pointer" (click)='navigate(comparisons)'>
        <h6>Comparisons</h6>
      </div>
      <div class="py-2 cursor-pointer" (click)='navigate(conditional)'>
        <h6>Conditional</h6>
      </div>
    </div>
    <div class="col-md-10 to-scrool">
      <div class="">
        <div class="py-2" #hellojustin>
          <h4 class="py-2">Hello, Justin !</h4>
          <div class="py-2">This part of the tutorial is about core JavaScript, the language itself.
            JavaScript programs can be inserted into any part of an HTML document with the help of the
            <span class="code-display p-1">{{getClassByValue('script')}}</span> tag.</div>
          <div>How to Tag javascript in HTML page</div>
          <div>Create a .html file and create a sample.js file</div>

          <markdown class="variable-binding px-5 py-3" [data]="markdown"></markdown>


          <div class="">
            you can check javascript was connected

            <markdown class="variable-binding px-5 py-3" [data]="consoleJustin"></markdown>
          </div>
        </div>

        <div class="py-2" #comments>
          <h4 class="py-2">Comments</h4>
          <div class="py-2">1)One-line comments start with two forward slash characters //</div>
          <markdown class="variable-binding px-5 py-3" [data]="inlineConnent"></markdown>
          <div class="py-2">2)Multiline comments start with a forward slash and an asterisk /* and end with an asterisk
            and a forward slash */.</div>
          <markdown class="variable-binding px-5 py-3" [data]="multipleComment"></markdown>
        </div>




        <div class="py-2" #variable>
          <h4 class="py-2">Variables</h4>
          <div>1) let
            Variables are used to store this information.To create a variable in JavaScript, use the let keyword.
            The statement below creates (in other words: declares) a variable with the name “message”:</div>
          <markdown class="variable-binding" [data]="letMessage"></markdown>
          <div class="">
            Now, we can put some data into it by using the assignment operator =:
          </div>
          <markdown class="variable-binding" [data]="letmessageHellow"></markdown>
          <div class="">
            The string is now saved into the memory area associated with the variable. We can access it using the
            variable name:
          </div>
          <markdown class="variable-binding" [data]="letmessageHelloComment"></markdown>
          <div>In older scripts, you may also find another keyword: var instead of let</div>
          <markdown class="variable-binding" [data]="varmessage"></markdown>
          <div>
            2) const
          </div>
          <div>To declare a constant (unchanging) variable, use const instead of let</div>
          <markdown class="variable-binding" [data]="constBirthday"></markdown>

          <div>We can declare variables to store data by using the var, let, or const keywords.</div>
          <div>let – is a modern variable declaration.</div>
          <div>var – is an old-school variable declaration. Normally we don’t use it at all, but we’ll cover subtle
            differences from let in the chapter The old "var", just in case you need them.</div>
          <div>const – is like let, but the value of the variable can’t be changed.
          </div>
        </div>




        <div class="py-2" #datatype>
          <h4 class="py-2">Data Type</h4>
          <div>A value in JavaScript is always of a certain type. For example, a string or a number.</div>
          <div>There are 8 basic data types in JavaScript.</div>
          <div>1) number for numbers of any kind: integer or floating-point, integers are limited by ±253.</div>
          <div>2) bigint is for integer numbers of arbitrary length.</div>
          <div>3) string for strings. A string may have zero or more characters, there’s no separate single-character
            type.</div>
          <div>4) boolean for true/false.</div>
          <div>5) null for unknown values – a standalone type that has a single value null.</div>
          <div>6) undefined for unassigned values – a standalone type that has a single value undefined.</div>
          <div>7) object for more complex data structures.</div>
          <div>8) symbol for unique identifiers.</div>

          <div>1) number </div>
          <markdown class="variable-binding" [data]="letN"></markdown>
          <div>2)bigint</div>
          <markdown class="variable-binding" [data]="bigInt"></markdown>
          <div>3) string</div>
          <markdown class="variable-binding" [data]="strings"></markdown>
          <div>4) boolean</div>
          <markdown class="variable-binding" [data]="booleam"></markdown>
          <div>5)null</div>
          <markdown class="variable-binding" [data]="nullValeu"></markdown>
          <div>6) undefined</div>
          <markdown class="variable-binding" [data]="undifined"></markdown>
          <div>7) object</div>
          <markdown class="variable-binding" [data]="objectvalue"></markdown>
          <div>8) symbol</div>
          <div>The symbol type is used to create unique identifiers for objects. We have to mention it here for the sake
            of completeness, but also postpone the details till we know objects.</div>


          <div class="pt-3">The typeof operator allows us to see which type is stored in a variable.</div>
          <div>Two forms: typeof x or typeof(x).</div>
          <div>Returns a string with the name of the type, like "string".</div>
          <div>For null returns "object" – this is an error in the language, it’s not actually an object.</div>
        </div>




        <div class="py-2" #basicoperator>
          <h4 class="py-2">Basic operators, maths</h4>
          <div>The following math operations are supported:</div>
          <div>1)Addition +,</div>
          <div>2)Subtraction -,</div>
          <div>3)Multiplication *,</div>
          <div>4)Division /,</div>
          <div>5)Remainder %,</div>
          <div>6)Exponentiation **.</div>

          <div class="pt-3">1)Addition +</div>
          <markdown class="variable-binding" [data]="adding"></markdown>
          <div>2)Subtraction -,</div>
          <markdown class="variable-binding" [data]="subscraction"></markdown>
          <div>3)Multiplication *,</div>
          <markdown class="variable-binding" [data]="multilipication"></markdown>
          <div>4)Division /,</div>
          <markdown class="variable-binding" [data]="division"></markdown>
          <div>5)Remainder %,</div>
          <markdown class="variable-binding" [data]="reminder"></markdown>
          <div>6)Exponentiation **.</div>
          <markdown class="variable-binding" [data]="expolantion"></markdown>
        </div>




        <div class="py-2" #comparisons>
          <h4>Comparisons</h4>
          <div> In JavaScript they are written like this: </div>
          <div>{{getText('first')}}</div>
          <div>{{getText('second')}} </div>
          <div>Equals: a == b, please note the double equality sign == means the equality test, while a single one a =
            b means an assignment.</div>
          <div>Not equals. In maths the notation is ≠, but in JavaScript it’s written as a != b</div>


          <div>
            <h6>Boolean is the result</h6>
          </div>
          <div>All comparison operators return a boolean value:</div>
          <div>true – means “yes”, “correct” or “the truth”.</div>
          <div>false – means “no”, “wrong” or “not the truth”.</div>
          <div>For example:</div>
          <markdown class="variable-binding" [data]="comparisonsEg1"></markdown>
          <div>
            <h6>String comparison</h6>
          </div>
          <div>To see whether a string is greater than another, JavaScript uses the so-called “dictionary” or
            “lexicographical” order.</div>
          <div>In other words, strings are compared letter-by-letter.</div>
          <div>For example:</div>
          <markdown class="variable-binding" [data]="comparisonsEg2"></markdown>
          <div>
            <h6>Strict equality</h6>
          </div>
          <div>A regular equality check == has a problem. It cannot differentiate 0 from false:</div>
          <markdown class="variable-binding" [data]="comparisonsEg3"></markdown>
          <div>
            <h6>Comparison with null and undefined</h6>
          </div>
          <div>There’s a non-intuitive behavior when null or undefined are compared to other values.</div>
          <div>For a strict equality check ===</div>
          <div>These values are different, because each of them is a different type.
          </div>
          <markdown class="variable-binding" [data]="comparisonsEg4"></markdown>
        </div>



        <div class="py-2" #conditional>
          <h4>Conditional</h4>
          <div>Sometimes, we need to perform different actions based on different conditions</div>
          <div>To do that, we can use the if statement and the conditional operator ?, that’s also called a “question
            mark”
            operator.</div>
          <div>
            <h6>The “if” statement</h6>
          </div>
          <div>For example:</div>
          <markdown class="variable-binding" [data]="conditional"></markdown>
        </div>


      </div>
    </div>
  </div>
</div>