<div class="skill-main">
  <div class="skill-head d-flex justify-content-center">
    <h3 class="mb-0 py-4 letter-space-1">SKILLS</h3>
  </div>
  <div class="skill-content img-fluid">
    <div class="row mx-0 ">
      <div class="col-md-6 py-4">
        <!-- <span class="p-4 d-flex justify-content-center letter-space-1 indv-skill">Angular</span> -->
        <div class="d-flex justify-content-center indv-skill">
          <img src="assets/images/angular-ar21.svg" alt="">
        </div>



      </div>
      <div class="col-md-6 py-4">
        <!-- <span class="p-4 d-flex justify-content-center letter-space-1 indv-skill">React</span> -->
        <div class="d-flex justify-content-center indv-skill">
          <img src="assets/images/reactjs-ar21.svg" alt="">
        </div>
      </div>
    </div>
    <div class="row mx-0">
      <div class="col-md-6 py-4">
        <!-- <span class="p-4 d-flex justify-content-center letter-space-1 indv-skill">JavaScript</span> -->
        <div class="d-flex justify-content-center indv-skill">
          <img src="assets/images/javascript-ar21.svg" alt="">
        </div>
      </div>
      <div class="col-md-6 py-4">
        <!-- <span class="p-4 d-flex justify-content-center letter-space-1 indv-skill">Firebase</span> -->
        <div class="d-flex justify-content-center indv-skill">
          <img src="assets/images/firebase-ar21.svg" alt="">
        </div>
      </div>
    </div>
    <div class="row mx-0">
      <div class="col-md-6 py-4">
        <!-- <span class="p-4 d-flex justify-content-center letter-space-1 indv-skill">Bootstrap</span> -->
        <div class="d-flex justify-content-center indv-skill">
          <img src="assets/images/getbootstrap-ar21.svg" alt="">
        </div>
      </div>
      <div class="col-md-6 py-4">
        <!-- <span class="p-4 d-flex justify-content-center letter-space-1 indv-skill">MongoDB</span> -->
        <div class="d-flex justify-content-center indv-skill">
          <img src="assets/images/mongodb-ar21.svg" alt="">
        </div>
      </div>
    </div>
    <div class="row mx-0">
      <div class="col-md-6 py-4">
        <!-- <span class="p-4 d-flex justify-content-center letter-space-1 indv-skill">Tailwind</span> -->
        <div class="d-flex justify-content-center indv-skill">
          <img src="assets/images/tailwindcss-ar21.svg" alt="">
        </div>
      </div>
      <div class="col-md-6 py-4">
        <!-- <span class="p-4 d-flex justify-content-center letter-space-1 indv-skill">HTML</span> -->
        <div class="d-flex justify-content-center indv-skill">
          <img src="assets/images/w3_html5-ar21.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>