<div class="container-fluid">
  <h3 class="d-flex justify-content-center">EXPERIENCE</h3>
  <div class="row">
    <div class="col-md-12">
      <div class="main-timeline2">
          <div class="timeline">
              <span class="icon fa fa-rocket"></span>
              <a class="timeline-content">
                <h3 class="title d-flex justify-content-center font-lato-heavy pb-1">Web Developer</h3>
                <h5 (click)="neoIto()" class="cursor-pointer company-name font-lato-regular py-1 mb-0">Neoito</h5>
                <small class="company-date font-lato-regular py-1">September 18, 2019 - Present </small>
                <p class="description">
                  Worked in different projects using different frame works such as Angular, React, react-redux, Graphql, nodejs, lambda functions, Bootstrap, tailwindcss etc
                </p>
    
              </a>
            </div>
        
        <div class="timeline">
          <span class="icon fa fa-rocket"></span>
          <a class="timeline-content">
            <h3 class="title d-flex justify-content-center font-lato-heavy pb-1">Web Developer</h3>

            <h5 (click)="adhocTechnologies()" class="cursor-pointer company-name font-lato-regular py-1 mb-0">Adhoc
              Infoservices</h5>
            <small class="company-date font-lato-regular py-1">July 01, 2019 - September 17, 2019 </small>
            <p class="description">
              Started working in Angular and Bootstrap
            </p>

          </a>
        </div>
        <div class="timeline">
            <span class="icon fa fa-rocket"></span>
            <a class="timeline-content">
              <h3 class="title d-flex justify-content-center font-lato-heavy pb-1">JavaScrip Developer</h3>
              <h5 (click)="adhocTechnologies()" class="cursor-pointer company-name font-lato-regular py-1 mb-0">Adhoc
                Technologies</h5>
              <small class="company-date font-lato-regular py-1">July 23, 2018 - June 30, 2019</small>
              <p class="description">
                JavaScript SDK for Video players such as Akamai, Anvato, Kaltura, Ooyala etc.
              </p>
            </a>
          </div>
        <!-- <div class="timeline">
          <span class="icon fa fa-mobile"></span>
          <a href="#" class="timeline-content">
            <h3 class="title">Web Developer</h3>
            <p class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum
              neque commodo quis.
            </p>
          </a>
        </div> -->
      </div>
    </div>
  </div>
</div>