<div>
  <div class="row mx-0 pt-4">
    <div class="col-md-2 d-none d-md-block">
      <div class="py-2">
        <h6>What is JavaScript?</h6>
      </div>
      <div class="py-2">
        <h6>Why is it called JavaScript</h6>
      </div>
      <div class="py-2">
        <h6>What makes JavaScript unique?</h6>
      </div>
    </div>
    <div class="col-md-10">
      <div class="">
        <div class="py-2">
          <h4 class="py-2">What is JavaScript?</h4>
          <span class="py-2">JavaScript was initially created to “make web pages alive”.</span>
        </div>
        <div class="py-2">
          <h4 class="py-2">Why is it called JavaScript</h4>
          <div class="py-2">When JavaScript was created, it initially had another name: “LiveScript”. But Java was very
            popular at
            that time, so it was decided that positioning a new language as a “younger brother” of Java would help.

            But as it evolved, JavaScript became a fully independent language with its own specification called
            ECMAScript, and now it has no relation to Java at all.</div>
          <div class="py-2">Today, JavaScript can execute not only in the browser, but also on the server,</div>
        </div>
        <div class="py-2">
          <h4 class="py-2">What makes JavaScript unique?</h4>
          <div class="py-2">Full integration with HTML/CSS.</div>
          <div class="py-2">Simple things are done simply.</div>
          <div class="py-2">Support by all major browsers and enabled by default.</div>
        </div>
      </div>
    </div>
  </div>
</div>