<div class="home-main">
  <div class="home-main-bg">
    <div class="row mx-0 home-main-row">
      <div class="col-md-6 profile-img px-0">
        <div class="profile">
          <img class="img-fluid" src="../../../../assets/images/proPic.jpg" alt="">
        </div>
      </div>
      <div class="col-md-6 profile-bg px-0 w-100">
        <!-- <div class="profile w-100 px-4 pb-4 pt-5">
          <div class="pl-4 py-3">
            <h3 class="font-hn-bold mb-0">Justin Joseph</h3>
            <div class="font-lato-regular">Software Engineer</div>
          </div>
          <div class="pl-4 py-2">
            <div class="font-hn-bold">Phone</div>
            <div class="font-lato-regular">+1 (214) 836-3006</div>
          </div>
          <div class="pl-4 py-2">
            <div class="font-hn-bold">Email</div>
            <div class="font-lato-regular">mailtojustinj@gmail.com</div>
          </div>
          <div class="pl-4 py-2">
            <div class="font-hn-bold">Address</div>
            <div class="font-lato-regular">4418 Warbler LN</div>
            <div class="font-lato-regular">Garland, TX 75043</div>
            <div class="font-lato-regular">USA</div>
          </div>
          <div class="pl-4 pt-2 pb-4 mb-1">
            <div class="font-hn-bold">Date of Birth</div>
            <div class="font-lato-regular">Aug 05th, 1993</div>
          </div>
        </div>
      </div> -->
        <div class="profile">
          <img class="img-fluid" src="../../../../assets/images/pro.svg" alt="">
        </div>
      </div>

    </div>

  </div>
  <div class="d-flex justify-content-center social-bg py-3">
    <div (click)='facebook()' class="px-2 cursor-pointer">
      <img class="social-icon" src="../../../../assets/images/facebook-tile.svg">
    </div>
    <div (click)="instagram()" class="px-2 cursor-pointer">
      <img class="social-icon" src="../../../../assets/images/instagram-icon.svg">
    </div>
    <div (click)="gitLab()" class="px-2 cursor-pointer">
      <img class="social-icon" src="../../../../assets/images/gitlab-icon.svg">
    </div>
    <div (click)="gitHub()" class="px-2 cursor-pointer">
      <img class="social-icon" src="../../../../assets/images/github-icon.svg">
    </div>
    <div (click)="linkedIn()" class="px-2 cursor-pointer">
      <img class="social-icon" src="../../../../assets/images/linkedin-icon.svg">
    </div>
    <div (click)="npmPackage()" class="px-2 cursor-pointer">
      <img class="social-icon" src="../../../../assets/images/npmjs-icon.svg">
    </div>
    <div (click)="stackoverFlow()" class="px-2 cursor-pointer">
      <img class="social-icon" src="../../../../assets/images/stackoverflow-icon.svg">
    </div>
  </div>
  <div class="about-me py-5">
    <h3 class="d-flex justify-content-center text-center letter-space-1">Hello! I'm Justin Joseph</h3>
    <p class="d-flex justify-content-center text-center pt-3">Experienced Software Engineer with demonstrated history of
      working in the information technology and services industry. Skilled in JavaScript, React, Angular, node js,
      Redux-saga, cloud functions. Strong engineering professional with a Master (MSc) focused in Computer Science from
      Mahatma Gandhi University</p>
  </div>