<div class="home-main">
  <div class="home-main-bg">
    <div class="row mx-0 home-main-row">
      <div class="col-md-6 profile-img px-0">
        <div class="profile">
          <img class="img-fluid" src="assets/images/proPic.jpg" alt="">
        </div>
      </div>
      <div class="col-md-6 profile-bg px-0 w-100">
        <div class="profile">
          <img class="img-fluid" src="assets/images/pro.svg" alt="">
        </div>
      </div>

    </div>

  </div>
  <div class="d-flex justify-content-center social-bg py-3">
    <div (click)='facebook()' class="px-2 cursor-pointer">
      <img class="social-icon" src="assets/images/facebook-tile.svg">
    </div>
    <div (click)="instagram()" class="px-2 cursor-pointer">
      <img class="social-icon" src="assets/images/instagram-icon.svg">
    </div>
    <div (click)="gitLab()" class="px-2 cursor-pointer">
      <img class="social-icon" src="assets/images/gitlab-icon.svg">
    </div>
    <div (click)="gitHub()" class="px-2 cursor-pointer">
      <img class="social-icon" src="assets/images/github-icon.svg">
    </div>
    <div (click)="linkedIn()" class="px-2 cursor-pointer">
      <img class="social-icon" src="assets/images/linkedin-icon.svg">
    </div>
    <div (click)="npmPackage()" class="px-2 cursor-pointer">
      <img class="social-icon" src="assets/images/npmjs-icon.svg">
    </div>
    <div (click)="stackoverFlow()" class="px-2 cursor-pointer">
      <img class="social-icon" src="assets/images/stackoverflow-icon.svg">
    </div>
  </div>
  <div class="about-me py-5">
    <h3 class="d-flex justify-content-center text-center letter-space-1">Hello! I'm Justin Joseph</h3>
    <p class="d-flex justify-content-center text-center pt-3">Experienced Software Engineer with demonstrated history of
      working in the information technology and services industry. Skilled in JavaScript, React, Angular, node js,
      Redux-saga, cloud functions. Strong engineering professional with a Master (MSc) focused in Computer Science from
      Mahatma Gandhi University</p>
  </div>