<div class="container">
  <div class="d-flex justify-content-center">
    <h3>EDUCATION</h3>
  </div>
  <div class="row mt-5">
    <div class="col-md-12">
      <div class="main-timeline8">
        <div class="timeline">
          <span class="timeline-icon"></span>
          <span class="year">2017</span>
          <div class="timeline-content">
            <h3 class="title">Master in Computer Science </h3>
            <p class="description">
             Completed with 61% 
            </p>
          </div>
        </div>
        <div class="timeline">
          <span class="timeline-icon"></span>
          <span class="year">2014</span>
          <div class="timeline-content">
            <h3 class="title">Bachelors in Computer Science</h3>
            <p class="description">
              Completed with 64%
            </p>
          </div>
        </div>
        <div class="timeline">
          <span class="timeline-icon"></span>
          <span class="year">2011</span>
          <div class="timeline-content">
            <h3 class="title">Higher Secondary </h3>
            <p class="description">
              Completed with 63%
            </p>
          </div>
        </div>
        <div class="timeline">
          <span class="timeline-icon"></span>
          <span class="year">2009</span>
          <div class="timeline-content">
            <h3 class="title">Secondary School </h3>
            <p class="description">
              Completed with 70%
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>