<div class="container">
  <div class="d-flex justify-content-center">
    <h3>EDUCATION</h3>
  </div>
  <div class="row mt-5">
    <div class="col-md-12">
      <div class="main-timeline8">
        <div class="timeline">
          <span class="timeline-icon"></span>
          <span class="year">2017</span>
          <div class="timeline-content">
            <h3 class="title">Master in Computer Science </h3>
            <p class="description">
              I completed my Master in Computer Science with 61% in college of applied science payyappady under the
              mahatma gandhi university. learned from there Advanced Java, Software Engineering, Database Management
              System etc.
            </p>
          </div>
        </div>
        <div class="timeline">
          <span class="timeline-icon"></span>
          <span class="year">2014</span>
          <div class="timeline-content">
            <h3 class="title">Bachelors in Computer Science</h3>
            <p class="description">
              I completed my Bachelors in Computer Science with 64% in nesamony memorial christian college marthandam
              under the manonmaniam sundaranar university. learned from there C++, Java, Data structures etc
            </p>
          </div>
        </div>
        <div class="timeline">
          <span class="timeline-icon"></span>
          <span class="year">2011</span>
          <div class="timeline-content">
            <h3 class="title">Higher Secondary </h3>
            <p class="description">
              I completed my Higher Secondary with 63% in concordia lutheran high school, kudappanakunnu . learned from
              there Visual basic then C programming
            </p>
          </div>
        </div>
        <div class="timeline">
          <span class="timeline-icon"></span>
          <span class="year">2009</span>
          <div class="timeline-content">
            <h3 class="title">Secondary School </h3>
            <p class="description">
              I completed my Secondary School with 70% in Govt. Model school thycadu. learned from
              there basics of
              compute usage like how to insatll a program in computer and also Microsoft office
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>