<div class="container">
  <div class="d-flex justify-content-center">
    <h3>EDUCATION</h3>
  </div>
  <div class="row mt-5">
    <div class="col-md-12">
      <div class="main-timeline8">
        <div class="timeline">
          <span class="timeline-icon"></span>
          <span class="year">2017</span>
          <div class="timeline-content">
            <h3 class="title">Master in Computer Science </h3>
            <p class="description">
              Completed my Master in Computer Science with 61% at College of applied science, Payyappady under the
              Mahatma Gandhi University, Kottayam. Learned from there Advanced Java, Software Engineering, Database Management
              System etc.
            </p>
          </div>
        </div>
        <div class="timeline">
          <span class="timeline-icon"></span>
          <span class="year">2014</span>
          <div class="timeline-content">
            <h3 class="title">Bachelors in Computer Science</h3>
            <p class="description">
              Completed my Bachelors in Computer Science with 64% at Nesamony Memorial Christian College, Marthandam
              under the Manonmaniam Sundaranar university, Tirunelveli. Learned from there C++, Java, Data structures etc
            </p>
          </div>
        </div>
        <div class="timeline">
          <span class="timeline-icon"></span>
          <span class="year">2011</span>
          <div class="timeline-content">
            <h3 class="title">Higher Secondary </h3>
            <p class="description">
              Completed my Higher Secondary with 63% at Concordia Lutheran High School, kudappanakunnu. Learned from
              there visual basic then C programming
            </p>
          </div>
        </div>
        <div class="timeline">
          <span class="timeline-icon"></span>
          <span class="year">2009</span>
          <div class="timeline-content">
            <h3 class="title">Secondary School </h3>
            <p class="description">
              Completed my Secondary School with 70% at Govt. Model School, Thycaud. Learned from
              there basics of
              computer usage like, how to install a software in computer and also Microsoft office
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>