<div class="border container">
  <div class="row mx-0">
    <div class="col-6 col-md-4 py-4 d-flex justify-content-center">
      <span class="cursor-pointer" [routerLink]="['/learn-with-me/javaScript/introduction']">Introduction</span>
    </div>
    <div class="col-6 col-md-4 py-4 d-flex justify-content-center">
      <span class="cursor-pointer" [routerLink]="['/learn-with-me/javaScript/fundamentals']">Fundamentals</span>
    </div>
    <!-- <div class="col-6 col-md-4 py-4 d-flex justify-content-center">
      <span class="cursor-pointer" [routerLink]="['/learn-with-me/javaScript/objects']">Object</span>
    </div>
    <div class="col-6 col-md-4 py-4 d-flex justify-content-center">
      <span class="cursor-pointer" [routerLink]="['/learn-with-me/javaScript/dataType']">Data Types</span>
    </div>
    <div class="col-6 col-md-4 py-4 d-flex justify-content-center">
      <span class="cursor-pointer" [routerLink]="['/learn-with-me/javaScript/promise']">Promise, async /await</span>
    </div>
    <div class="col-6 col-md-4 py-4 d-flex justify-content-center">
      <span class="cursor-pointer" [routerLink]="['/learn-with-me/javaScript/modules']">Modules</span>
    </div> -->
  </div>
</div>